body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    padding-left: 80px;
}

.navbar-nav{
    padding-left: 250px;
}

.nav-item{
    margin-right: 20px;
}

#navlinks{
    color: white;
}



.centered{
    position: absolute;
    top: 35%;
    font-size: 150px;
    width: 100%;
}

.image{
    width: 100%;
}

.current-month{
    display: flex;
    text-align: left;
    border: 1px solid grey;
    margin-top: 100px;
    padding: 10px 0;
    background-color: rgb(235, 235, 235);
    left: 50px;
    padding-left: 40px;
}

.photo-wrapper{
    display: flex;
    justify-content: center;
    margin: 50px 40px;
}


.information{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 75px;
}

#button1{
    color: white;
    margin: 125px;
    width: 125px;
    border: 1px solid black;
    border-radius: 0;
}